<h1><%= @post.title %></h1>
<p>Description:<%= @post.description %></p>
<p>Cost:<%= @post.cost %></p>
<p>Open Spots:<%= @post.openspots %></p>
<p>Approval:<%= @post.approval %></p>
<p>Post Id:<%= @post.id %></p>
<p>Category Id:<%= @post.category.name %></p>
<%= link_to "Edit", edit_post_path(@post), class: 'btn btn-success' %>
