<h1><%= @post.title %></h1>
<%= link_to "Edit", edit_post_path(@post), class: 'btn btn-success' %>
<p><%= @post.description %></p>
<p><%= @post.cost %></p>
<p><%= @post.openspots %></p>
<p><%= @post.approval %></p>
<p><%= @post.id %></p>
